* {
  margin: 0;
  padding: 0;
}

.parent {
width: 50%;
height: 400px;
background-color: black;
}

.box {
  width: 50%;
  margin-left: 50%;
  padding-top: 25%;
  display: inline-block;
  background-color: gray;
}